@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* ### GENERAL ### */
:root {
	--font-page: 'Poppins', sans-serif;
	--Eerie-Black: #1e1f22;
	--rich-black: #1e222b;
	--onix: #38393f;
	--spanish-gray: #8f8f8f;
	--opaque-white: #fdfdfe;
	--white: #ffffff;
	--light-green: #4efed4;
}
body {
	width: 106.4rem;
	height: 102.4rem;
	margin: 0 auto;
	font-family: var(--font-page);
	text-align: center;
	background-color: var(--Eerie-Black);
}
h1 {
	margin: 6rem 0 3rem 0;
	font-weight: 700;
	color: var(--white);
	text-align: left;
}
/* ################# */

/* ### HEADER #### */
header .search-form {
	position: relative;
}
header .search-form input {
	width: 100%;
	font-family: var(--font-page);
	margin-top: 5rem;
	padding: 2rem;
	height: 6.4rem;
	background-color: var(--onix);
	color: var(--light-green);
	border: none;
	border-radius: 5rem;
	box-shadow: 0 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.35);
}
header .search-form input::placeholder {
	color: var(--spanish-gray);
}
header button.find-product {
	position: absolute;
	top: 5.8rem;
	left: 90.5rem;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: var(--light-green);
	/* width: 15.6rem; */
	width: 15rem;
	height: 4.8rem;
	border: none;
	border-radius: 2.4rem;
	padding: 0.5rem;
	font-family: var(--font-page);
	font-size: 2.2rem;
	font-weight: 700;
	cursor: pointer;
}
header button.find-product i {
	font-size: 2.3rem;
}
/* ################# */

/* ### MAIN #### */
main .product .product__information {
	margin-top: 2rem;
	padding: 2rem;
	height: 68.2rem;
	background-color: var(--onix);
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
	border-radius: 1.5rem;
	letter-spacing: -0.015em;
	display: none; /* Que aparezca cuando la búsqueda se haya realizado */
}
main .product__image-and-basics {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}
main .product__image-and-basics .product__image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50rem;
	height: 36rem;
	background-color: var(--white);
	border-radius: 0.8rem;
	display: none;
}
@media (min-width: 768px) {
	main .product__image-and-basics .product__image:hover {
		transition: 0.5s;
		opacity: 0.6;
	}
}
main .product__image-and-basics .product__image img {
	background-color: var(--white);
}
main .product__image-and-basics .product__basics {
	width: 48.8rem;
	height: 16.4rem;
	text-align: left;
	color: var(--white);
}
main .product__image-and-basics .product__basics h2.product__title {
	font-size: 4.2rem;
	font-weight: 700;
	line-height: 1.4;
	margin-bottom: 2rem;
}
main .product__image-and-basics .product__basics .product__price {
	font-size: 4.8rem;
	font-weight: 400;
	line-height: 1.6;
}
main .product__image-and-basics .product__basics .product__installments {
	font-size: 2.4rem;
	font-weight: 400;
	color: var(--opaque-white);
	opacity: 0.9;
}
main .product__description {
	margin-top: 4rem;
	display: flex;
	flex-direction: column;
	text-align: left;
}
main .product__description h3 {
	color: var(--white);
	font-size: 3.6rem;
	font-weight: 700;
	line-height: 1.6;
	display: none;
}
main .product__description p {
	color: var(--opaque-white);
	height: 17.1rem;
	width: 92rem;
	font-size: 2.4rem;
	font-weight: 400;
	line-height: 1.8;
}

/* ################# */
